$container-background-color: rgba(110, 147, 214, 0.36);
$body-background-color: #ccccff;
$header-background-color: #66cc66;
$click-me-color: #fff36b;

html {
  height: 100%;
}

body {
  text-align: center;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  background-color: $body-background-color;
}

h2 {
  line-height: 100px;
  font-size: 5em;
  background-color: $header-background-color;
}

.world-clock {
  height: 100%;
  width: 100%;
}

.click-me {
  color: $click-me-color;
  font-size: 0.5em;
}
