body {
  background-color: #fff;
  text-align: center;
}

h2 {
  line-height: 100px;
  font-size: 5em;
  background-color: #66cc66;
}

.container {
  background-color: #CCCCFF;
  height:700px;
  line-height: 700px;
  font-size: 2em;
}